Package: openark-kit
Version: revision.placeholder-1
Section: python
Priority: optional
Architecture: all
Essential: no
Depends: python-mysqldb
Installed-Size: 320
Maintainer: Shlomi Noach [shlomi@code.openark.org]
Description: Common utilities for MySQL
 A general purpose toolkit for managing various aspects in MySQL.
 Most utilities in this package require MySQL 5.0 or greater.
 See http://code.openark.org/forge/openark-kit
 Released under the BSD license
